i {
    font-size: 40px;
}

button {
    background: transparent;
    border: none; 
    --bs-gradient: none;
    color: white;
}

.play:disabled {
    color: #818181;
  }
  
.pause:disabled {
    color: #818181;
  }

.stop:disabled {
    color: #818181;
}

